<div *ngIf="loggedInUserName" class="welcome-banner">
  Welcome {{ loggedInUserName }}! You are logged in.
</div>
<div class="p-4">
  <h2>
    <strong><i>User Detail</i> </strong>
    <a
      [routerLink]="['/user-list']"
      style="margin-left: 10px"
      class="text-decoration-none fs-6"
    >
      Back to User List
    </a>
  </h2>

  <form>
    <hr />
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-4">
        <p id="id" class="form-control-plaintext">{{ user.id }}</p>
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="userName" class="col-sm-2 col-form-label">User Name:</label>
      <div class="col-sm-4">
        <input
          type="text"
          id="userName"
          class="form-control"
          [(ngModel)]="user.userName"
          name="userName"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-4">
        <input
          type="text"
          id="password"
          class="form-control"
          [(ngModel)]="user.password"
          name="password"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
      <div class="col-sm-4">
        <input
          type="text"
          id="firstName"
          class="form-control"
          [(ngModel)]="user.firstName"
          name="firstName"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
      <div class="col-sm-4">
        <input
          type="text"
          id="lastName"
          class="form-control"
          [(ngModel)]="user.lastName"
          name="lastName"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="phoneNumber" class="col-sm-2 col-form-label"
        >Phone Number:</label
      >
      <div class="col-sm-4">
        <input
          type="text"
          id="phoneNumber"
          class="form-control"
          [(ngModel)]="user.phoneNumber"
          name="phoneNumber"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-4">
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="user.email"
          name="email"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="reviewer" class="col-sm-2 col-form-label">Reviewer:</label>
      <div class="col-sm-4">
        <input
          type="checkbox"
          id="reviewer"
          [(ngModel)]="user.reviewer"
          name="reviewer"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="admin" class="col-sm-2 col-form-label">Admin:</label>
      <div class="col-sm-4">
        <input
          type="checkbox"
          id="admin"
          [(ngModel)]="user.admin"
          name="admin"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <div class="col-sm-4 offset-sm-2">
        <a
          [routerLink]="['/user-edit', user.id]"
          class="btn btn-sm btn-warning me-2"
        >
          Edit
        </a>
        <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button>
      </div>
    </div>
  </form>
</div>
