<div *ngIf="loggedInUserName" class="welcome-banner">
  Welcome {{ loggedInUserName }}! You are logged in.
</div>
<div class="p-4">
  <h2>
    <strong><i>Request Create</i> </strong>
    <a
      [routerLink]="['/request-list']"
      style="margin-left: 10px"
      class="text-decoration-none fs-6"
    >
      Back to Request List
    </a>
  </h2>
  <form>
    <hr />
    <div class="form-group row">
      <label for="userName" class="col-sm-2 col-form-label">User:</label>
      <div class="col-sm-4">
        <input
          type="text"
          id="userName"
          class="form-control"
          [(ngModel)]="loggedInUserName"
          name="userName"
          disabled
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label"
        >Description:</label
      >
      <div class="col-sm-4">
        <input
          type="text"
          id="description"
          class="form-control"
          [(ngModel)]="newRequest.description"
          name="description"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="justification" class="col-sm-2 col-form-label"
        >Justification:</label
      >
      <div class="col-sm-4">
        <input
          type="text"
          id="justification"
          class="form-control"
          [(ngModel)]="newRequest.justification"
          name="justification"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="dateNeeded" class="col-sm-2 col-form-label"
        >Date Needed:</label
      >
      <div class="col-sm-4">
        <input
          type="date"
          id="dateNeeded"
          class="form-control"
          [(ngModel)]="newRequest.dateNeeded"
          name="dateNeeded"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="deliveryMode" class="col-sm-2 col-form-label"
        >Delivery Mode:</label
      >
      <div class="col-sm-4">
        <select
          id="deliveryMode"
          class="form-control"
          [(ngModel)]="newRequest.deliveryMode"
          name="deliveryMode"
        >
          <option value="Acme Mail Service">Acme Mail Service</option>
          <option value="Local Pickup">Local Pickup</option>
        </select>
      </div>
    </div>

    <hr />

    <div class="form-group row">
      <div class="col-sm-4 offset-sm-2">
        <button (click)="addRequest()" class="btn btn-sm btn-primary">
          Create Request
        </button>
      </div>
    </div>
  </form>
</div>
