<div *ngIf="loggedInUserName" class="welcome-banner">
  Welcome {{ loggedInUserName }}! You are logged in.
</div>
<div class="p-4">
  <h2>
    <strong><i>Line Item Create</i></strong>
    <a
      [routerLink]="['/request-lines', requestId]"
      class="text-decoration-none fs-6"
      style="margin-left: 10px"
    >
      Back to Request
    </a>
  </h2>
  <form>
    <hr />
    <div class="form-group row">
      <label for="product" class="col-sm-2 col-form-label">Product:</label>
      <div class="col-sm-4">
        <select
          id="product"
          class="form-control"
          [(ngModel)]="newLineItem.product"
          name="product"
        >
          <option *ngFor="let product of products" [ngValue]="product">
            {{ product.name }}
          </option>
        </select>
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <label for="quantity" class="col-sm-2 col-form-label">Quantity:</label>
      <div class="col-sm-4">
        <input
          type="number"
          id="quantity"
          class="form-control"
          [(ngModel)]="newLineItem.quantity"
          name="quantity"
        />
      </div>
    </div>
    <hr />
    <div class="form-group row">
      <div class="col-sm-4 offset-sm-2">
        <button (click)="add()" class="btn btn-sm btn-primary">
          Add Line Item
        </button>
      </div>
    </div>
  </form>
</div>
